<!DOCTYPE html>
<html lang="en">

<head>

    <script src='../public/change_events_view.js'></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Page</title>
    <link href='style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navigation}}

    <div id="contentDiv">
       {{!-- <h1>events page</h1> --}}
    <div id="topBar" style="position: absolute; width: 100vw; height: 10vh">
       <button id="blockView" class="viewButtons" style="position: absolute; left: 10vw; top: 3vh" onclick="location.href='/events'">Block View</button>
       <button id="calendarView" class="viewButtons" style="position: absolute; left: 16vw; top: 3vh" onclick="location.href='/calendar'">Calendar View</button>

        <form action="">
            <input type="text" id="searchWord" placeholder="Search here" style="position: absolute; left: 42%; top: 3vh"><br>
            <input type="submit" value="Submit" id="searchButton" style="position: absolute; left: 53%; top: 3vh">
        </form>

    </div>

    <div id="blocks" style="position: fixed; width: 100vw; height: 72vh; top: 33vh; left: 0px">
        <div id="block1" class="blocks" style="position: fixed; width: 25%; height: 45%; background-color: #c9d4e5; left: 6.25%; text-align: center; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
            {{title1}}
            <br>
            {{start_time1}} {{end_time1}} {{date1}} 
            <br>
            {{location1}} {{points1}}
            <br>
            {{description1}}
        </div>
        <div id="block2" class="blocks" style="position: fixed; width: 25%; height: 45%; background-color: #c9d4e5; left: 38%; text-align: center; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
            {{title2}}
            <br>
            {{start_time2}} {{end_time2}} {{date2}} 
            <br>
            {{location2}} {{points2}}
            <br>
            {{description2}}
        </div>
        <div id="block3" class="blocks" style="position: fixed; width: 25%; height: 45%; background-color: #c9d4e5; left: 69.25%; text-align: center; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
            {{title3}}
            <br>
            {{start_time3}} {{end_time3}} {{date3}} 
            <br>
            {{location3}} {{points3}}
            <br>
            {{description3}}
        </div>


    </div>

    </div>

</body>

</html>