<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Kick Start Main</title>
    <link href='style.css' rel='stylesheet' type='text/css' />
    <link href='main.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
    {{> navigation}}
    {{err}}
    <div id="contentDiv">
        <div id="profileCard">
            <img src="{{profileUrl}}" alt="John" style="width:100%">
            <h1>{{username}}</h1>
            <p id="userProgram"="title">ACIT Program</p>
            <p id="pointTotal">Your point total is: {{userPoints}}</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <p><button id="redeemButton">Redeem Points</button></p>
            <div id="wayFinding">
                <div>Need Help Finding Your Event?</div>
                <div>Click on the Wayfinder Map!</div>
                <a href="https://www.bcit.ca/files/studentlife/pdf/student_services_wayfinding_guide_2018.pdf"><img
                        src="https://www.bcit.ca/files/kickstart/img/wayfinding_guide.png" /></a>
            </div>
        </div>
        {{!-- btn onpress, redirect to events/:id --}}
        {{!-- at events page, display the event (id) --}}
        {{!--   participate button onpress , redirect to main page with the added event on the registered  --}}
        {{!--   back button onpress , redirect to main page without the event added  --}}
        {{!-- if the user is already participating a featured event, render different color on the btn  --}}
        {{!-- if the user is  participating a featured event, render different color on the div  --}}
        
        <div id="featuredContent">

            <h2>Featured Events</h2>
                {{#each featuredEvents}}<div class="featuredEvent">
                    <h3 class="featuredEventName">{{this.events_title}}</h3>
                    <p class="featuredEventTime">{{this.events_date}}</p>
                    <button type="button" i class="eventButton">View Event</button>
                    <img src="https://s3-media2.fl.yelpcdn.com/bphoto/n5A2PtT9E0TnWNQUxH3DCw/o.jpg"
                        width="75" height="75">
                </div><br />{{/each}}
        </div>


        <div id="registeredContent">
            <h2>Upcoming Events</h2>
                {{#each currentEvents}}<div class="registeredEvent">
                    <h3 class="">{{this.events_title}}</h3>
                    <div class="">{{this.events_date}}</div>
                    <div>{{this.events_start_time}}</div>
                    <div>{{this.events_locations}}, {{this.events_campus}}</div>
                    <button type="button" i class="eventButton">View Event</button>
                    <button class="quitButton" onclick="sendQuit({{this.events_id}})">Quit</button>
                </div><br />{{/each}}
            
            
        </div>


    </div>

</body>

<script>
    const sendQuit = (id) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://localhost:3000/main/quit', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            value: id
        }));
    }
    
</script>

</html>