<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Rewards Page</title>
	    <link href='style.css' rel='stylesheet' type='text/css'/>
        <link href='rewards.css' rel='stylesheet' type='text/css'/>

        <style>
        @media screen and (max-width: 800px) {
         
            #bannerDiv {
                height: 8vh;
                width: auto;
            }

            #bannerDiv h1 {
                font-size: 20px;
                top: 0px;
            }
            #navDiv{
                position: fixed;
                flex-direction: column;
                width: 100%;
                top: 8vh;
                left: 0px;
                height: 25vh;
                background-color: #003E6B;
                align-items: center;
            }
            
            #contentDiv {
                top: 33vh;
                display: block;
                height: 67vh;
            }
            #navDiv input {
                margin: 8px;
                font-size: 24px;
            }
            .rewardsleft {
                margin-bottom: 30px;
                top: 30px;
                left: 0px;
                right: 0px;
                position: relative;
                margin: auto;
                width: 80vw;
                float: none;
                
                margin-bottom: 30px;
            }

            .rewardsright {
                top: 30px;
                position: relative;
                margin: auto;
                width: 87vw;
                padding-left: 0px;
                left: 0px;
                right: 0px;
                float: none;
                margin-bottom: 30px;
            }

            .rewardsright h2{
                text-align: left;
                padding-left: 50px;
            }

            #rewardstb{
                left: 0px;
                right: 0px;
                margin: auto;
            }

        }
        </style>
	</head>

	<body>
	    {{> navigation}}

	    <div id="contentDiv">

            <div class="rewardsleft">
                <h3 style="color: #e69138; text-align: left; padding-right: 50px;">
                    Please visit a Kick Start representative to redeem your points!
                </h3>     
            </div>

            <div class="rewardsright">
                <h2>
                    Current Points: <b>{{userPoints}}</b>
                </h2>                
            </div>
            
	        <div class="rewardsleft">
                <h2 style="color: #006fbf">History</h2>
                <table id="historytb">
                    {{#each redeemed}}
                    <tr>
                        <td>{{this.rewards_title}}</td>
                        <td>{{this.rewards_points}}</td>
                        <td>{{this.redeemed_date}}</td>
                    </tr>{{/each}}
                </table>
	        </div>

	        <div class="rewardsright">
                <h2 style="color: #006fbf">Rewards</h2>
                <table id="rewardstb">
                    {{{ renderedRewards }}}
                </table>
	        </div>
	    </div>

	    <footer>
	    	<div style="float:left; width:50%; text-align: right;"><p style="padding-right: 5px">Contact Us</p></div>
	    	<div style="float:right; width:50%; text-align: left;"><p style="padding-left: 5px">Privacy</p></div>
	    </footer>
	</body>
</html>