<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Rewards Page</title>
	    <link href='style.css' rel='stylesheet' type='text/css'/>
        <link href='rewards.css' rel='stylesheet' type='text/css'/>
	</head>

	<body>
	    {{> navigation}}

	    <div id="contentDiv">
            
	        <div id="rewardsleft">
            <h2 style="color: #006fbf">History</h2>
            <table id="historytb">
              {{#each redeemed}}<tr>
                <td>{{this.rewards_title}}</td>
                <td>{{this.rewards_points}}</td>
                <td>{{this.redeemed_date}}</td>
              </tr>{{/each}}
              
            </table>
	        </div>

	        <div id="rewardsright">
            <p style="font-size: 25px; color: #e69138; text-align: right; padding-right: 50px;">
                  Current Points: <b>{{userPoints}}</b>
              </p>
	        	<h2 style="color: #006fbf">Rewards</h2>

                <table id="rewardstb">
                  {{{ renderedRewards }}}
                </table>
	        </div>
	    </div>
	    <footer>
	    	<div style="float:left; width:50%; text-align: right;"><p style="padding-right: 5px">Contact Us</p></div>
	    	<div style="float:right; width:50%; text-align: left;"><p style="padding-left: 5px">Privacy</p></div>
	    </footer>
	</body>

</html>