<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staff - Rewards</title>
    <link href='/style.css' rel='stylesheet' type='text/css' />
    <link href='/staff.css' rel='stylesheet' type='text/css' />
</head>

<body>
    {{> staffNav}}

    <div id="contentDiv">
        <div id="studentDisplay">

            <div id="studentDisplayFormDiv">
                <form action="/staff/rewards/student" method="post">
                    <label for="studentIdInput">Student ID</label>
                    <input class="inputbox" type="text" name="studentIdInput" id="studentIdInput" placeholder="Enter Student Number"
                        required>
                    <input class="submitButton" type="submit" value="Search">
                </form>
                <p class="errMsg">{{statusMsg}}</p>
            </div>
            <div id="studentInfo">

                <h1 style="padding-top: 30px;">Student Information</h1>
                <p class="studentInfoText"><span>ID:</span>{{studentId}}</p>
                <p class="studentInfoText"><span>Name: </span>{{studentName}}</p>
                <p class="studentInfoText"><span>Points: </span>{{studentPoints}}</p>
            </div>
            
        </div>
        <div id="dataDiv">
            <h1 style="padding-top: 30px;">Rewards</h1>
            <div id="listDiv">
                {{{renderedRedeemable}}}
            </div>
        </div>
    </div>

<script>

    const redeem = (sid, rid)=> {
        window.location.replace(window.location.origin + "/staff/redeem/" + sid +"/"+ rid);
    }
</script>

</body>

</html>