<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staff - Challenges </title>
    <link href='/style.css' rel='stylesheet' type='text/css' />
    <link href='/staff.css' rel='stylesheet' type='text/css' />
</head>

<body>
    {{> staffNav}}

    <div id="contentDiv">
        <h2>Staff Challenges Page</h2>
        <div id="studentDisplay">
            <div id="studentDisplayFormDiv">
                <form action="/staff/challenges/student" method="post">
                    <label for="studentIdInput">Student ID</label>
                    <input type="text" name="studentIdInput" id="studentIdInput" placeholder="Enter Student Number" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div id="studentInfo">
                <p class="studentInfoText"><span>ID:</span>{{studentId}}</p>
                <p class="studentInfoText"><span>Name: </span>{{studentName}}</p>
                <p class="studentInfoText"><span>Points: </span>{{studentPoints}}</p>
                <p class="studentInfoStatusMsg">{{statusMsg}}</p>
            </div>
        </div>
        <div id="dataDiv">
            <div id="listDiv">
                {{#each challenges}}<div>
                    <p><span>Title: </span>{{this.title}}</p>
                    <p><span>Points: </span>{{this.point}}</p>
                    <button>Redeem</button>
                </div>{{/each}}
            </div>
        </div>
    </div>
</body>

</html>